### The AI powered Financial Chatbot Prototype currently responds only to the given set of questions for selected companies and fiscal years wiz: --

<ol type="1">
    <li> What is the total revenue?</li>
    <li> What is the Net Income?</li>
    <li> What is the sum of total assets?</li>
    <li> What is the sum of total liabilities?</li>
    <li> What is cash flow from operating activities?</li>
    <li> What is the revenue growth(%) ?</li>
    <li> What is the net income growth(%) ?</li>
    <li> What is the assets growth(%) ?</li>
    <li> What is the liabilities growth(%) ?</li>
    <li> What is the cash flow from operations growth(%) ?</li>
    <li> What is the year by year average revenue growth rate(%)?</li>
    <li> What is the year by year average net income growth rate(%)?</li>
    <li> What is the year by year average assets growth rate(%)?</li>  
    <li> What is the year by year average liabilities growth rate(%)?</li>
    <li> What is the year by year average cash flow from operations growth rate(%)?</li>
</ol>

In [1]:
import pandas as pd
data = pd.read_csv('final_data.csv')
data_2 = pd.read_csv('Summary_final_report.csv')

In [2]:
data

,Unnamed: 0,Year,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Total Assets Growth (%),Total Liabilities Growth (%),Cash Flow Growth (%),Net Profit Margin,Asset Turnover Ratio,D/E Ratio
0,0,2021,Microsoft,168088,61271,333779,191791,76740,0.000000,0.000000,0.000000,0.000000,0.000000,36.451740,0.503591,1.350755
1,1,2022,Microsoft,198270,72738,364840,198298,89035,17.956071,18.715216,9.305858,3.392756,16.021631,36.686337,0.543444,1.190679
2,2,2023,Microsoft,211915,72361,411976,205753,87582,6.882030,-0.518299,12.919636,3.759493,-1.631942,34.146238,0.514387,0.997721
3,3,2021,Tesla,53821,5519,62131,30548,11497,0.000000,0.000000,0.000000,0.000000,0.000000,10.254362,0.866250,0.967229
4,4,2022,Tesla,81462,12556,82338,36440,14724,51.357277,127.504983,32.523217,19.287678,28.068192,15.413322,0.989361,0.793934
5,5,2023,Tesla,96773,14974,106618,43009,13256,18.795267,19.257725,29.488207,18.026894,-9.970117,15.473324,0.907661,0.676146
6,6,2021,Apple,365817,94680,351002,287912,104038,0.000000,0.000000,0.000000,0.000000,0.000000,25.881793,1.042208,4.563512
7,7,2022,Apple,394328,99803,352755,302083,122151,7.793788,5.410858,0.499427,4.921990,17.409985,25.309641,1.117852,5.961537
8,8,2023,Apple,383285,96995,352583,290437,110543,-2.800461,-2.813543,-0.048759,-3.855232,-9.502992,25.306234,1.087077,4.673462

In [3]:
print("Year by Year Average Growth from 2021 to 2023")
data_2

Year by Year Average Growth from 2021 to 2023

,Unnamed: 0,Company,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow from Operations Growth(%)
0,0,Apple,-1.449710,-0.746039,-0.149388,-0.227092,-1.442492
1,1,Microsoft,-7.220526,-5.081267,-6.651679,-2.301567,-4.050053
2,2,Tesla,-16.584240,-24.064303,-15.771471,-10.480864,-3.614123

In [4]:
%run AI_driven_Financial_ChatBot_Prototype.py

----------------------------------------------------------------------------

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available

Please enter your query
Sorry, I cannot only provide information on the requested query.
----------------------------------------------------------------------------
Enter 'Hi' Properly!!!!! by starting the chatbot session again

In [31]:
%run AI_driven_Financial_ChatBot_Prototype.py

Enter Hi to start; type 'exit' to quit): jk
Enter 'Hi' Properly!!!!! by starting the chatbot session again

In [33]:
%run AI_driven_Financial_ChatBot_Prototype.py

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : Microsoft

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2022

Please enter your query
What is the total revenue?
The Total Revenue for Microsoft for fiscal year 2022 is $ 198270

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2023

Please enter your query
What is the Net Income?
The Net Income for Apple for fiscal year 2023 is $ 96995

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : Tesla

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2021

Please enter your query
What is the sum of total assets?
The sum of Total Assets for Tesla for fiscal year 2021 is $ 62131

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : Apple

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2021

Please enter your query
What is the sum of total liabilities?
The sum of Total Liabilities for Apple for fiscal year 2021 is $ 287912

Enter Hi to start the chatbot session; type 'exit' to quit): Hi

Hello! Welcome to AI Driven Financial Chatbot!!!

I can help you with your financial queries
Please select the company name from below: -

1.Microsoft
2.Tesla
3.Apple
Enter company name : Microsoft

The data for the fiscal year 2023, 2022, and 2021 is currently available
The fiscal year for the selected company : 2023

Please enter your query
What is cash flow from operating activities?
The Cash Flow from Operating Activities for Microsoft for fiscal year 2023 is $ 87582

Enter Hi to start the chatbot session; type 'exit' to quit): exit